<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="wordladder">
    <form name="form2" id="wordLadder" accept-charset="utf-8"  action="/wordladder" method="post">
        <li>
            <label for="startword"  class="input-tips2">startword：</label>
            <div class="inputOuter2">
                <input type="text" id="startword" name="startword" class="inputstyle2"/>
            </div>
        </li>
        <li>
            <label for="targetword" class="input-tips2">targetword：</label>
            <div class="inputOuter2">
                <input type="text" id="targetword"  name="targetword" class="inputstyle2"/>
            </div>
        </li>
        <li>
            <div class="inputArea">
                <input type="submit" id="search"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="search"/>
            </div>
        </li>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>